@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutMajor.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    广州市荔湾区下市直街21号<br />
    电话号码: 98052-6399<br />
    <abbr title="Phone">手机号:</abbr>
    425.555.0100
</address>

<address>
    <strong>服务支持:</strong>   <a href="#">1373700184@qq.com</a><br />
    <strong>营销:</strong> <a href="#">1373700184@qq.com</a>
</address>